In [2]:
import pandas as pd
import numpy as py
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
pd.set_option("display.max_columns",50) # max columns for DataFrame

In [3]:
pip install matplotlib

Requirement already satisfied: matplotlib in /opt/anaconda3/lib/python3.11/site-packages (3.8.0)
Requirement already satisfied: contourpy>=1.0.1 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy<2,>=1.21 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
df= pd.DataFrame(pd.read_csv('electric_vehicle.csv'))

In [5]:
df.head(10)

,Date,County,State,Vehicle Primary Use,Battery Electric Vehicles (BEVs),Plug-In Hybrid Electric Vehicles (PHEVs),Electric Vehicle (EV) Total,Non-Electric Vehicle Total,Total Vehicles,Percent Electric Vehicles
0,September 30 2022,Riverside,CA,Passenger,7,0,7,460,467,1.50
1,December 31 2022,Prince William,VA,Passenger,1,2,3,188,191,1.57
2,January 31 2020,Dakota,MN,Passenger,0,1,1,32,33,3.03
3,June 30 2022,Ferry,WA,Truck,0,0,0,"3,575","3,575",0.00
4,July 31 2021,Douglas,CO,Passenger,0,1,1,83,84,1.19
5,May 31 2018,Maui,HI,Passenger,1,0,1,59,60,1.67
6,November 30 2017,Northampton,PA,Passenger,0,1,1,66,67,1.49
7,March 31 2018,Nassau,NY,Passenger,1,0,1,37,38,2.63
8,March 31 2020,DeKalb,IN,Passenger,1,0,1,1,2,50.00
9,January 31 2019,Columbia,WA,Truck,0,0,0,"1,529","1,529",0.00

In [7]:
df.shape # total of 20819 rows, 10 columns

(20819, 10)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20819 entries, 0 to 20818
Data columns (total 10 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Date                                      20819 non-null  object
 1   County                                    20733 non-null  object
 2   State                                     20733 non-null  object
 3   Vehicle Primary Use                       20819 non-null  object
 4   Battery Electric Vehicles (BEVs)          20819 non-null  object
 5   Plug-In Hybrid Electric Vehicles (PHEVs)  20819 non-null  object
 6   Electric Vehicle (EV) Total               20819 non-null  object
 7   Non-Electric Vehicle Total                20819 non-null  object
 8   Total Vehicles                            20819 non-null  object
 9   Percent Electric Vehicles                 20819 non-null  float64
dtypes: float64(1), object(9)
memory usage: 1.6+ MB

In [12]:
df['Date'] = pd.to_datetime(df['Date']) # change format of date

In [13]:
df.head()

,Date,County,State,Vehicle Primary Use,Battery Electric Vehicles (BEVs),Plug-In Hybrid Electric Vehicles (PHEVs),Electric Vehicle (EV) Total,Non-Electric Vehicle Total,Total Vehicles,Percent Electric Vehicles
0,2022-09-30,Riverside,CA,Passenger,7,0,7,460,467,1.50
1,2022-12-31,Prince William,VA,Passenger,1,2,3,188,191,1.57
2,2020-01-31,Dakota,MN,Passenger,0,1,1,32,33,3.03
3,2022-06-30,Ferry,WA,Truck,0,0,0,"3,575","3,575",0.00
4,2021-07-31,Douglas,CO,Passenger,0,1,1,83,84,1.19

In [16]:
df.loc[df['County'].isna()] # check if null value
df.dropna(subset = ['County'], inplace=True)

In [17]:
df.shape

(20733, 10)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20733 entries, 0 to 20818
Data columns (total 10 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Date                                      20733 non-null  datetime64[ns]
 1   County                                    20733 non-null  object
 2   State                                     20733 non-null  object
 3   Vehicle Primary Use                       20733 non-null  object
 4   Battery Electric Vehicles (BEVs)          20733 non-null  object
 5   Plug-In Hybrid Electric Vehicles (PHEVs)  20733 non-null  object
 6   Electric Vehicle (EV) Total               20733 non-null  object
 7   Non-Electric Vehicle Total                20733 non-null  object
 8   Total Vehicles                            20733 non-null  object
 9   Percent Electric Vehicles                 20733 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(8)
memory usage: 1.7+ MB